@if (loading()) {

    <div class="text-center mt-5">
        <div class="spinner-border"></div>
    </div>

} @else if (matches.length > 0) {

    <div class="container-fluid page py-4">
        <div class="row justify-content-center g-4">
            @for (match of matches; track match.id) {
                <div class="col-auto d-flex justify-content-center">
                    <app-card [match]="match" [disciplineImg]="showDisciplineImg(match)"></app-card>
                </div>
            }
        </div>
    </div>

} @else {

    <div class="container-fluid page d-flex justify-content-center">
        <h2>Aún no se han creado partidos... ¡Sé el primero!</h2>
    </div>

}