@if (loading()) {

    <div class="text-center mt-5">
        <div class="spinner-border"></div>
    </div>

} @else if (matches.length > 0) {

    <div class="container page py-4">
        <div class="row justify-content-start mt-5 mb-5 gx-4">
            <div class="col-lg-10 d-flex flex-md-row  flex-column flex-md-row gap-3 gap-md-4">
                <div class="d-flex flex-column align-items-center">
                    <label for="discipline" class="form-label fw-semibold w-auto">Disciplina</label>

                    <select class="form-select mb-0 shadow-sm w-auto" id="discipline" [(ngModel)]="disciplineSelected" (change)="filter()">
                        <option value="">Todas</option>
                        @for (d of disciplines; track d.id) {
                            <option [value]="d.name">{{ d.name }}</option>
                        }
                    </select>
                </div>

                <div class="d-flex flex-column align-items-center">
                    <label for="date" class="form-label fw-semibold">
                        Fecha
                    </label>

                    <input id="date" type="date" class="form-control w-auto shadow-sm" [(ngModel)]="selectedDate" (change)="filter()">
                </div>
                <div class="d-flex flex-column align-items-center">
                    <label for="location" class="form-label fw-semibold w-auto">Ubicación</label>
                    <input type="text" id="location" class="form-control shadow-sm w-auto" placeholder="Online, ciudad..." [(ngModel)]="location" (change)="filter()">
                </div>
            </div>
        </div>

        @if (filteredMatches.length > 0) {
            <div class="row justify-content-center g-4">
                @for (match of filteredMatches; track match.id) {
                    <div class="col-auto">
                        <app-card [match]="match" [disciplineImg]="showDisciplineImg(match)"></app-card>
                    </div>
                }
            </div>
        }
        
        @else {
            <div class="container-fluid page d-flex justify-content-center">
                <h2>No hay partidos disponibles de esta categoria... ¡Sé el primero!</h2>
            </div>
        }
        
    </div>

} @else {

    <div class="container-fluid page d-flex justify-content-center">
        <h2>Aún no se han creado partidos... ¡Sé el primero!</h2>
    </div>

}